.App {
  text-align: center;
  padding: 1% 2% 0% 2%;
  overflow: auto;
}

.header {
  font-family: monospace;
}

.content-wrapper {
  display: flex;
  padding-top: 2%;
}

.left-content,
.right-content {
  flex: 1;
  padding: 2%;
  border: 1px solid #ccc;
}

.Presets,
.URL,
.query_params,
.response {
  margin-top: 4%;
}

.description {
  margin-top: 1%;
}